{{ $hero := .Site.Data.hero }}

<section class="col-6 col-lg-9 col-md-6 mb-3">
  <div class="container">
    <h1 class="display-4">{{ $hero.title }}</h1>
    <p class="lead">{{ $hero.description }}</p>
  </div>
</div>
</section>
