{{ $passions := .Site.Data.passions }}

<section class="blue">
  <div class="container">
    <h2 class="heading-passions text-right">{{ $passions.title }}</h2>
    <div class="row justify-content-md-end text-right">
      {{ range $index, $element := $passions.passions }}

      <div class="col-6 col-lg-9 col-md-6 mb-3">
        <div class="card p-4">
          <i class="mt-3  fa fa-{{ $element.icon }} fa-3x"></i>
          <a href= {{ $element.link }}><h2 class="mt-4 a:link">{{ $element.title}}</h2></a>
          <p class="text-muted">{{ $element.description }}</p>
          <p><span class="w3-tag w3-padding w3-round-small w3-teal">{{ $element.tags}}</span></p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
