{{ $sidebar := .Site.Data.sidebar }}
{{ $social := .Site.Data.social }}
{{ $socialfas := .Site.Data.socialfas}}

<section id="sidebar" class="sidebar d-flex align-items-center p-5">
  <div class="main-info">

    <img src="{{.Site.BaseURL}}images/{{ $sidebar.displayPicture }}" class="rounded-circle mb-3" width="250px">

    <h4 class="heading">{{ $sidebar.title }}</h4>
    <h4 class="highlight">{{ $sidebar.highlightedText }}</h4>

    <p class="text">{{ $sidebar.description }}</p>

    <div class="social my-4">

      {{ range $key, $value := $social }}
        <a target="_blank" href="{{ $value }}" rel="me">
          <i class="fab fa-{{ $key }}"></i>
        </a>
      {{ end }}

      {{ range $key, $value := $socialfas }}
        <a target="_blank" href="{{ $value }}">
          <i class="fas fa-{{ $key }}"></i>
        </a>
      {{ end }}

    </div>

    <a href="#contact" class="btn btn-dark btn-lg">Contact</a>
    {{ if isset .Site.Params "resume" }}
    <a href="{{ .Site.BaseURL }}{{ .Site.Params.Resume }}" class="btn btn-outline-secondary btn-lg" onclick="ga('send', {hitType: 'event',eventCategory: 'CTA',eventAction: 'download'});">
  Resume</a>
    {{ end }}

  </div>
</section>
